main {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

header {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    padding: 1.5rem 0;
}

button {
    padding: 0.2rem;
}

.button-container {
    padding-bottom: 1.5rem;
}