html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}


main {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

header {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    padding: 1.5rem 0;
}

button {
    padding: 0.2rem;
}


.button-container {
    padding-bottom: 1.5rem;
}

.scoreboard__container {
    display: flex;
    justify-content: center;
    padding: 0.25rem;
}

.scoreboard__label {
    padding-right: 0.25rem;
}

.scoreboard {
    text-align: center;
    margin: 0 auto;
}

.scoreboard__title {
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.result {
    padding: 0.5rem;
}